body{
	padding: 0;
	margin:0;
	
	font-size: 12px;
    line-height: 1.5em;
    font-family: "Titillium Web", "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
}
ul,li,a{
	padding: 0;
	margin:0;
	list-style: none;
	text-decoration: none;
}
.section{
	overflow: hidden;
}
#section-1{
	background:url(../images/index_section_bg_1.jpg) no-repeat;
}
#section-1 h1{
	position:absolute;
	top:5%;left:2.5%;
	width:181px;height:44px;
	background-image:url(../images/logo_kibey.png);
	font-size: 0;
}
.section-wo{
	position:absolute;
	top:50%;
	right:50%;
	margin: -110px 142px 0 0;

	width: 430px;
	height: 194px;
}
.section-wo h2{
	font-size: 0;
	width: 430px;
	height: 194px;
	background-image:url(../images/index_title_sprites.png);
}
.section-wo a{
	position: absolute;
	left:0;
	font-size: 0;
	width: 192px;
	height: 26px;
	background:url(../images/index_sprites_2.png) 0 -80px;
}
#motion-1-1{
	position:absolute;
	top: 50%;
    left: 50%;
    margin: -207px 0 0 -104px;
    width: 1050px;
    height: 414px;
    background-image:url(../images/index_motion_sprites.png);
}

#section-2{
	background:url(../images/index_section_bg_2.jpg) no-repeat;
}
.nav{
	text-align: center;
	position: absolute;
    top: 0;
    width: 100%;
    height: 52px;
    border-bottom: 1px solid rgba(255,255,255,.3);
}
.nav ul li{
	display: inline-block;
    margin: 0 24px;
    padding-bottom: 8px;
    height: 52px;
    text-align: center;
}
.nav ul li a{
	display: inline-block;
    padding: 0 12px;
    font-weight: bold;
    line-height: 52px;
    color:#fff;
    font-size: 1.33em;
}
.nav ul li.active{
	background-image:url(../images/index_sprites_2.png);
	background-position: 50% top;
}
.nav ul li a:hover, .nav ul li.active a{
    color: #62c0e7;
    text-shadow: 1px 1px 2px rgba(24,25,51,.5);
}
.section-2-wp{
	position: absolute;
	top:22%;
    width: 100%;
}
.section-2-cf{
	width: 514px;
	margin: 0 auto;
}
.section-2-cf h2{
	width: 136px;
    height: 123px;
    background: url(../images/index_title_sprites.png) 0 -300px;
    font-size: 0;
    float: left;
}
.section-2-zi{
	margin-top: 10px;
    width: 346px;
    float: right;
}
.section-2-zi p{
	margin-bottom: 8px;
    font-size: 1em;
    color: #fff;
}
.section-2-cf:before,.section-2-cf:after{
   	display: table;
    content: " ";
    line-height: 0;
    clear: both;
}
.section-2-bt{
	position: absolute;
	bottom:22%;
    width: 100%;
}
.section-2-bt h3{
	margin: 0 auto;
    padding-top: 7px;
    width: 111px;
    height: 55px;
    color: rgba(255,255,255,.6);
    text-align: center;
    background: url(../images/index_sprites_2.png) 0 -120px;
}
.section-2-bt ul{
	margin: 24px auto 0;
    width: 224px;
    height: 52px;
	background: url(../images/index_sprites_2.png) 0 -200px;
}
.section-2-bt li.f1{
	width: 92px;
	margin-right: 49px;
	float: left;
}
.section-2-bt li.f2{
	width: 83px;
	margin-right: 0px;
	float: left;
}
.section-2-bt a{
	display: block;
	height: 52px;
	font-size: 0;
}
#motion-2-1 {
	/* position: absolute;
	    right: 50%;
	    bottom: 25%;
	    margin: -134px 360px 0 0; */
	transition:all 0.2s ease;
	transform:translate3d(70px,520px,0);
    width: 268px;
    height: 267px;
    background: url(../images/index_motion_sprites.png) 0 -500px;
}
#motion-2-2 {
	/* position: absolute;
	    left: 50%;
	    top: 30%;
	    margin-left: 508px; */
	transition:all 0.2s ease;
	transform:translate3d(1200px,-500px,0);
    width: 59px;
    height: 59px;
    background: url(../images/index_motion_sprites.png) 0 -820px;
}
#section-3-bg{
	top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
	background: url(../images/index_section_bg_5.jpg) no-repeat;
}
#section-3 h3{
	position: absolute;
	font-size: 0;
	top: 50%;
    left: 50%;
    margin-top: -218px;
    margin-left: -427px;
    width: 564px;
    height: 316px;
    background: url(../images/index_sprites_2.png) 0 -550px;
}
.section-3-wp{
	top: 50%;
    margin-top: -213px;
    position: absolute;
    width: 100%;

}
.section-3-wp .section-wp{
	position: absolute;
    right: 50%;
    margin-right: -413px;
    width: 230px;
    height: 269px;
    z-index: 9;
    background: url(../images/index_sprites_2.png) -564px -550px;
}
.section-3-wp .section-wp a{
	display: block;
    width: 230px;
    height: 67px;
    font-size: 0px;
}
.section-3-wp .section-wp .go-btn{
	margin-top: 70px;
    width: 230px;
    height: 49px;
}
#motion-3-1{
	position: absolute;
	bottom: 0;
    left: 0;
    width: 458px;
    height: 331px;
    background: url(../images/index_motion_sprites.png) no-repeat 0px -2660px;
	transition:all 1s ease; 
	transform: scale(1.5,1.5);
}
#motion-3-2{
	position: absolute;
	bottom: 0;
    right: 0;
    width: 422px;
    height: 331px;
   /*  transition:all 0s ease -1s; */
	transform: scale(1.4,1.4);
    background: url(../images/index_motion_sprites.png) no-repeat right -2660px;
}
#section-4 ul{
	position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
#section-4 ul li{
	position: relative;
	float: left;
    width: 20%;
    height: 100%;
    background-size: 100% 100%;
    overflow: hidden;
}
#section-4-1{
	background-image:url(../images/index_section_bg_6_1.jpg) ;
}
#motion-4-1{
	background-size: 100% 100%;
	transform:translate3d(20px,700px,0);
	height: 340px;
	width: 79.8611%;
	background-image:url(../images/motion_6_1.png) ;
}
#section-4-2{
	background-image:url(../images/index_section_bg_6_2.jpg) ;
}
#motion-4-2-1{
	position: absolute;
	background-size: 100% 100%;
	
	width: 36.1111%;
	top: 40%;
    left: 45.13888%;
    padding-bottom: 36.4583%;
	background-image:url(../images/motion_6_2_1.png) ;
	transform:translate3d(0,-350px,0);
	z-index: 6;
}
#motion-4-2-2{
	position: absolute;
	background-size: 100% 100%;
	
	bottom: 27%;
    left: 0;
    padding-bottom: 82.9821%;
    width: 97.9166%;
    transform:translate3d(0,450px,0);
	background-image:url(../images/motion_6_2_2.png) ;
}
#section-4-3{
	background-color: #2c2c2c;
}
.section-4-3-wp{
	position: absolute;
	width: 100%;
	top: 16.8%;
    z-index: 10;
}
.section-4-3-wp h3{
	font-size: 0;
	margin: 0 auto;
    width: 105px;
    height: 51px;
    background:url(../images/index_sprites_2.png) 0 -960px;
}
.section-4-3-tu{
	
	margin: 0 auto;
	margin-top: 90px;
    width: 204px;
    height: 114px;
    background:url(../images/index_title_sprites.png) 0 -580px;
}
#section-4-3 .btn{
	display: block;
	position: absolute;
    bottom: 10%;
    left: 50%;
    z-index: 10;
    margin-left: -70px;
    padding: 43px;
    background: rgba(0,0,0,.6);
    border-radius: 50%;
}
#section-4-3 .btn span{
	display: block;
	font-size: 0;
    width: 54px;
    height: 54px;
    background:url(../images/index_sprites_2.png) 0 -1020px;
}
#motion-4-3{
	position: absolute;
	top: -200px;
    left: 0px;
    right: 0px;
    padding-bottom: 347.2222%;
    width: 100%;
    transform:translate3d(0,0,0);
    background-image:url(../images/motion_6_3.png) ;
}


#section-4-4{
	background-image:url(../images/index_section_bg_6_4.jpg) ;
}
#motion-4-4{
	position: absolute;
	background-size: 100% 100%;
	bottom: 0;
    left: 0;
    padding-bottom: 142.3611%;
    width: 100%;
    transform:translate3d(400px,0,0);
	background-image:url(../images/motion_6_4.png) ;
}
#section-4-5{
	background-color: #dc5353;
}
#motion-4-5{
	position: absolute;
	background-size: 100% 100%;
	bottom: 0;
    left: -33%;
    padding-bottom: 269.4444%;
    width: 213.5416%;
    transform: scale(1.3,1.3);
	background-image:url(../images/motion_6_5.png) ;
}
#section-5{
	background:url(../images/index_section_bg_8.png) no-repeat;
}

#section-5 .section-intro-wp {
    top: 6.5155%;
    z-index: 10;
}
.section-intro {
    margin: 0 auto;
}
#section-5 .section-intro h2 {
    margin: 0 auto;
    width: 193px;
    height: 54px;
    background-position: 0 -440px;
}
.ht {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
#section-5 .section-intro p {
    text-align: center;
}
.core-list-wp h3 {
    margin: 20px 0 8px;
    font-size: 1.66em;
    font-weight: normal;
}
p {
    color: #fff;
    line-height: 1.88em;
    text-align:left;
}
#section-5 h2{
    background-image: url(../images/index_title_sprites.png);
}
.section-intro-wp, .product-list-wp, .core-list-wp {
    position: absolute;
    width: 100%;
}
.core-list-wp {
    position: absolute;
    width: 100%;
    
}
.core-list-wp ul {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 960px;
    max-width: 1280px;
    z-index: 15;
}

.core-list-wp {
    bottom: 12%;
    color: #fff;
    text-align: center;
}
.fl {
    float: left !important;
}
.core-list-wp ul li {
    /* margin-right: 42px; */
    /* width: 226px; */
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
}
.motion-item {
    background-image: url(../images/index_motion_sprites.png)
}
#motion-5-1 {
    right: 50%;
    bottom: 25%;
   	position:absolute;
    margin-right: 660px;
    width: 93px;
    height: 92px;
    background-position: 0 -920px;
    top:-300px;
    transition:all 1.5s ease;
}
#motion-5-2 {
    top: 20%;
    top:0;
    right: 50%;
    z-index: 9;
    position:absolute;
    margin-right: 239px;
    width: 65px;
    height: 64px;
    background-position: 0 -1040px;
    top:-300px;
    transition:all 1.5s ease;
}
#motion-5-3 {
    top:36%;
    left:48%;
    position:absolute;
    margin-left: 459px;
    width: 70px;
    height: 62px;
    background-position: 0 -1120px;
    top:-300px;
    transition:all 1.8s ease;
}
#section-6{
	background:url(../images/index_section_bg_8.png) no-repeat;
}
#section-6 h2 {
    position: absolute;
    top: 8.5%;
    left: 5%;
    width: 136px;
    height: 123px;
    background-position: 0 -860px;
}
#section-6 table {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -220px;
    margin-left: -360px;
    width: 638px;
    color: #fff;
    font-size: 1.16em;
    vertical-align: middle;
}
tbody,tr{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
#section-6 table th {
    width: 190px;
    text-align: left;
    vertical-align: middle;
}
#section-6 table th, #section-6 table td {
    padding-bottom: 50px;
}
#section-6 .wechat th span {
    height: 19px;
    background-position: 0 -1230px;
}
#section-6 table th span {
    display: inline-block;
    padding: 6px 20px;
    width: 130px;
    height: 18px;
    background-position: 0 -1280px;
}
#section-6 table td {
    padding-bottom: 50px;
}
#section-6 table p.ht {
    /* width: 288px; */
    width: 345px;
    /* height: 103px; */
    height: 110px;
    background-position: 0 -1720px;
}
.fl {
    float: left !important;
}
.qrcode-wp {
    margin-top:130px;
    margin-right: 52px;
    text-align: center;
}
#section-7 .section-intro-wp {
    position: relative;
    margin-top: 32px;
    height: 200px;
    background: -webkit-linear-gradient(left, rgba(0,0,0,.15) 0%, rgba(0,0,0,0) 100%);
}
#section-7 h2 {
    position: absolute;
    top: 36px;
    left: 7%;
    width: 136px;
    height: 65px;
    background-position: 0 -1000px;
    background-image: url(../images/index_title_sprites.png);

}
#section-7{
	background:#231d2d;
    padding:0;
}
#section-7 .section-intro p {
    margin-bottom: 12px;
    width: 480px;
    line-height: 1.8em;
}
#section-7 .section-intro {
    position: absolute;
    top: 46px;
    left: 20%;
    width: 50%;
}
#section-7 .section-intro-wp {
    position:relative;
    margin-top: 32px;
    left:0;
    top:0;
    height: 200px;
    background: -webkit-linear-gradient(left, rgba(0,0,0,.15) 0%, rgba(0,0,0,0) 100%);
}
.section-jobs {
    position: relative;
    padding: 50px 5% 160px 7%;
}
li.active a {
    color: #62c0e7;
    text-shadow: 1px 1px 2px rgba(24,25,51,.5);
}
.section-nav .vline {
    position: absolute;
    top: 19px;
    left: 5px;
    width: 1px;
    height: 253px;
    background: rgba(255,255,255,.3);
}
.section-jobs {
    position: relative;
    padding: 50px 5% 160px 7%;
}
.section-nav {
    position: relative;
    width: 20%;
}
.section-nav .vline {
    position: absolute;
    top: 19px;
    left: 5px;
    width: 1px;
    height: 253px;
    background: rgba(255,255,255,.3);
}
li.active a {
    color: #62c0e7;
    text-shadow: 1px 1px 2px rgba(24,25,51,.5);
}
.section-nav li.active a {
    background-position: 0 -1642px;
}
.section-nav li a {
    display: block;
    margin-bottom: 60px;
    padding: 5px 5px 5px 20px;
    width: 135px;
    line-height: 18px;
}
.nav a {
    color: #fff;
    font-size: 1.33em;
}